html {
    max-height: 100%;
}

body {
    background-color: #A6171B;
    background-image: url('../img/concrete_seamless.png');
    color: #444;
    font-family: 'Lato', sans-serif;
    max-height: 100%;
    margin: 20% 0 60px 0;
}

.container {
    width: 85%;
    margin: 0 auto;
    text-align: center;
}

#message {
    text-align: center;
}

h1 {
    color: #444;
    display: inline-block;
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    font-size: 5em;
}

footer {
    width: 100%;
    height: 60px;
    line-height: 55px;
    text-align: center;
    vertical-align: middle;
    position: absolute;
    left: 0;
    bottom: 0;
}